*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 53px;
  background-color: #010001;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

/* begin Header */
.header {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.secondary-nav .item-link {
  color: #808080;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

/* begin Main-section */
.main-section {
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 64px;
  font-style: normal;
  font-weight: normal;
  line-height: 75px;
}

.description {
  max-width: 260px;
  margin: auto;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-transform: lowercase;
}

.description:after {
  content: "";
  display: block;
  width: 0;
  height: 60px;
  border: 1px solid #ffffff;
  margin: auto;
  margin-top: 26px;
}

.video {
  height: 750px;
  max-width: 1230px;
  width: 90%;
  margin: auto;
}

/* begin Features */
.features {
  position: relative;
  max-width: 1230px;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}

.features-title {
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
}

.table {
  margin-bottom: 200px;
}

.table-column {
  width: 300px;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rocket {
  position: absolute;
  max-width: 350px;
  top: 100px;
  right: 0;
  z-index: 1;
}

.features-text {
  max-width: 490px;
  font-size: 16px;
  line-height: 29px;
}

/* begin Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 0;
  text-align: center;
}

.footer .logo {
  margin-bottom: 43px;
}

.footer-nav {
  margin-bottom: 28px;
}

.footer-nav .item-link {
  font-size: 18px;
  line-height: 21px;
}

.footer-text {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.footer-text,
.footer-mail {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 20px 10px;
  min-width: 260px;
  min-height: 60px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}
